<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/pintuer.css">
    <link rel="stylesheet" href="/student/index.css">
    <script src="/javascripts/jquery.js"></script>
    <!-- <script src="/javascripts/pintuer.js"></script> -->
    <title>学生登录===>查看招聘详情页</title>
</head>

<body>
    <div class="panel">
        <div class="body-content">
             <form method='post' class="form-x" action="">
                <!--公司名称-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">公司名称：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" readonly value="<%= data.company%>" name="cname">
                    </div>
                 </div>
                <!--类型-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">类型：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" readonly value="<%= data.type%>" name="brief">
                        <!-- <textarea type="text" class="field_input" placeholder="请输入简介" data-validate="required:请输入简介"> -->
                    </div>
                </div>
                <!--职位-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">职位：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" readonly value="<%= data.position%>" name="type" size="50">
                    </div>
                </div>
                <!--职位要求-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">职位要求：</label>
                    </div>
                    <div class="field">
                            <textarea  class="field_input" name="type" readonly id="" cols="30" rows="4"><%= data.brief%></textarea>
                    </div>
                </div>
                <!--发布时间-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">发布时间：</label>
                    </div>
                    <div class="field">
                        <input class="field_input" readonly value="<%= data.time%>" name="time">
                    </div>
                </div>                 
                 <!--邮箱-->
                 <div class="form-group">
                    <div class="label"> 
                        <label for="">邮箱：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" name="email" readonly value="<%= data.email%>" size="50">
                    </div>
                </div>
             </form>
        </div>
    </div>
</body>
</html>