<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/pintuer.css">
    <!-- <link rel="stylesheet" href="/stylesheets/admin.css"> -->
    <link rel="stylesheet" href="/student/index.css">
    <script src="/javascripts/jquery.js"></script>
    <!-- <script src="/javascripts/pintuer.js"></script> -->
    <title>学生信息修改</title>
</head>

<body>
    <div class="panel">
        <div class="body-content">
             <form method='post' class="form-x" action="">
                <!--姓名-->
                <input type="hidden" name="id" value="<%= data.id%>">
                <div class="form-group">
                       <div class="label"> 
                           <label for="">姓名：</label>
                        </div>
                        <div class="field">
                            <input type="text" class="field_input" value="<%= data.username%>" readonly name="username" size="50" 
                            placeholder="请输入姓名" data-validate="required:请输入姓名">                            
                        </div>
                </div>
                <!--学号-->
                <div class="form-group">
                        <div class="label"> 
                            <label for="">学号：</label>
                         </div>
                         <div class="field">
                             <input type="text" class="field_input" value="<%= data.sid%>" name="sid" size="50" 
                             placeholder="请输入学号" data-validate="required:请输入学号">
                         </div>
                </div>
                <!--性别-->
                <div class="form-group">
                        <div class="label"> 
                            <label for="">性别：</label>
                         </div>
                         <div class="field">
                             <input type="text" class="field_input" readonly value="<%= data.gender%>" readonly name="gender" size="50" 
                             placeholder="请输入性别" data-validate="required:请输入性别">
                         </div>
                </div>
                <!--年龄-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">年龄：</label>
                        </div>
                        <div class="field">
                            <input type="text" class="field_input" value="<%= data.age%>" readonly name="age" size="50" 
                            placeholder="请输入年龄">
                        </div>
                </div>
                <!--年级-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">年级：</label>
                        </div>
                        <div class="field">
                            <input type="text" class="field_input" value="<%= data.grade%>" name="grade" size="50" 
                            placeholder="请输入年级" data-validate="required:请输入年级">
                        </div>
                </div>
                <!--专业-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">专业：</label>
                        </div>
                        <div class="field">
                            <input type="text" class="field_input" value="<%= data.special%>" name="special" size="50" 
                            placeholder="请输入专业" data-validate="required:请输入专业">
                        </div>
                </div> 
                <!--证书-->
                <div class="form-group">
                    <div class="label"> 
                        <label for="">证书：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" value="<%= data.certificate%>" name="certificate" size="50" 
                        placeholder="请输入证书" >
                    </div>
                </div>
                <!--密码-->
                <!-- <div class="form-group">
                    <div class="label"> 
                        <label for="">账户密码：</label>
                    </div>
                    <div class="field">
                        <input type="password" class="field_input" value="<%= data.password%>" name="password" size="50" 
                        placeholder="请输入密码" >
                    </div>
                </div> -->
                <!--提交-->
                <div class="form-group">
                    <div class="label"><label for=""></label></div>
                    <div class="field">
                        <button class="button bg-sub button-big button-block icon-check-square-o">提交</button>
                    </div>
                </div>
             </form>
        </div>
    </div>
</body>
</html>